.hero-detail__container {
  margin-top: 30px;
}
.button-back {
  cursor: pointer;
  display: block;
  width: 100px;
  height: 30px;
  background: #dcdcdc;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  margin-top: 30px;
  padding-top: 10px;
}
.button-back:hover {
  background: #546eee;
  color: #ffffff;
}
